/* --------------- apartments style5 --------------- */
.tc-apartments-style5 {
  position: relative;
  padding: 200px 0;
  background-color: #1F2528; }
  .tc-apartments-style5 .apartments-accordion .accordion-title {
    border-bottom: 1px solid #373E43;
    padding: 30px; }
    .tc-apartments-style5 .apartments-accordion .accordion-title .title-txt {
      font-size: 14px;
      line-height: 24px;
      text-transform: uppercase;
      color: #899fae; }
  .tc-apartments-style5 .apartments-accordion .accordion .accordion-item {
    position: relative;
    background-color: transparent;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #373E43; }
    .tc-apartments-style5 .apartments-accordion .accordion .accordion-item:last-of-type {
      border-bottom: 0; }
    .tc-apartments-style5 .apartments-accordion .accordion .accordion-item .accordion-button {
      position: relative;
      display: block;
      background-color: transparent !important;
      color: #fff;
      padding: 30px;
      -webkit-box-shadow: none;
      box-shadow: none; }
      .tc-apartments-style5 .apartments-accordion .accordion .accordion-item .accordion-button::after {
        position: absolute;
        right: 30px;
        top: 40px;
        -webkit-filter: invert(100%) sepia(57%) saturate(0%) hue-rotate(253deg) brightness(106%) contrast(106%);
        filter: invert(100%) sepia(57%) saturate(0%) hue-rotate(253deg) brightness(106%) contrast(106%); }
      .tc-apartments-style5 .apartments-accordion .accordion .accordion-item .accordion-button .room-numb {
        font-size: 48px;
        line-height: 48px;
        text-transform: uppercase;
        color: var(--color-brown1);
        font-weight: 400; }
      .tc-apartments-style5 .apartments-accordion .accordion .accordion-item .accordion-button .room-img {
        height: 95px; }
      .tc-apartments-style5 .apartments-accordion .accordion .accordion-item .accordion-button ul {
        font-size: 14px;
        line-height: 24px;
        color: #899fae;
        text-transform: capitalize; }
      .tc-apartments-style5 .apartments-accordion .accordion .accordion-item .accordion-button .feat-icons a {
        width: 45px;
        height: 45px;
        line-height: 45px;
        text-align: center;
        border-radius: 50%;
        border: 1px solid #373e43;
        font-size: 13px;
        color: var(--color-brown1);
        -webkit-margin-end: 5px;
        margin-inline-end: 5px; }
        .tc-apartments-style5 .apartments-accordion .accordion .accordion-item .accordion-button .feat-icons a:hover {
          background-color: #373e43; }
    .tc-apartments-style5 .apartments-accordion .accordion .accordion-item .accordion-button:not(.collapsed) {
      background-color: #373E43 !important; }
      .tc-apartments-style5 .apartments-accordion .accordion .accordion-item .accordion-button:not(.collapsed)::after {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
        -webkit-filter: invert(84%) sepia(22%) saturate(506%) hue-rotate(353deg) brightness(94%) contrast(91%);
        filter: invert(84%) sepia(22%) saturate(506%) hue-rotate(353deg) brightness(94%) contrast(91%); }
      .tc-apartments-style5 .apartments-accordion .accordion .accordion-item .accordion-button:not(.collapsed) .feat-icons a {
        border-color: #616b73; }
    .tc-apartments-style5 .apartments-accordion .accordion .accordion-item .accordion-body {
      padding: 0 30px;
      background-color: #373E43; }
      .tc-apartments-style5 .apartments-accordion .accordion .accordion-item .accordion-body .floor-img {
        padding-bottom: 60px; }
      .tc-apartments-style5 .apartments-accordion .accordion .accordion-item .accordion-body .main-img {
        padding: 110px;
        position: relative; }
        .tc-apartments-style5 .apartments-accordion .accordion .accordion-item .accordion-body .main-img img {
          height: 300px;
          display: block;
          margin: auto; }
        .tc-apartments-style5 .apartments-accordion .accordion .accordion-item .accordion-body .main-img .text-items p {
          font-size: 12px;
          line-height: 36px;
          letter-spacing: 0.02em;
          text-transform: uppercase;
          color: #817768;
          position: absolute; }
          .tc-apartments-style5 .apartments-accordion .accordion .accordion-item .accordion-body .main-img .text-items p:nth-of-type(1) {
            top: 50px;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
          .tc-apartments-style5 .apartments-accordion .accordion .accordion-item .accordion-body .main-img .text-items p:nth-of-type(2) {
            top: 50%;
            right: 50px;
            -webkit-transform: translateY(-50%) rotate(-90deg);
            -ms-transform: translateY(-50%) rotate(-90deg);
            transform: translateY(-50%) rotate(-90deg); }
          .tc-apartments-style5 .apartments-accordion .accordion .accordion-item .accordion-body .main-img .text-items p:nth-of-type(3) {
            bottom: 50px;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
          .tc-apartments-style5 .apartments-accordion .accordion .accordion-item .accordion-body .main-img .text-items p:nth-of-type(4) {
            top: 50%;
            left: 10px;
            -webkit-transform: translateY(-50%) rotate(-90deg);
            -ms-transform: translateY(-50%) rotate(-90deg);
            transform: translateY(-50%) rotate(-90deg); }
      .tc-apartments-style5 .apartments-accordion .accordion .accordion-item .accordion-body .dial-img {
        padding-bottom: 60px; }
      .tc-apartments-style5 .apartments-accordion .accordion .accordion-item .accordion-body .info {
        height: 100%;
        -webkit-border-start: 1px solid #616B73;
        border-inline-start: 1px solid #616B73;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding-bottom: 50px;
        -ms-flex-line-pack: justify;
        align-content: space-between; }
        .tc-apartments-style5 .apartments-accordion .accordion .accordion-item .accordion-body .info p {
          font-size: 14px;
          line-height: 24px;
          text-transform: uppercase;
          color: #fff;
          margin-bottom: 40px; }
        .tc-apartments-style5 .apartments-accordion .accordion .accordion-item .accordion-body .info small {
          font-size: 12px;
          line-height: 18px;
          text-transform: uppercase;
          color: #899fae; }
        .tc-apartments-style5 .apartments-accordion .accordion .accordion-item .accordion-body .info h2 {
          font-size: 72px;
          line-height: 84px;
          color: var(--color-brown1);
          font-weight: 400; }
        .tc-apartments-style5 .apartments-accordion .accordion .accordion-item .accordion-body .info .btns {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
          .tc-apartments-style5 .apartments-accordion .accordion .accordion-item .accordion-body .info .btns .pdf-btn {
            width: 50px;
            height: 50px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            text-align: center;
            border-radius: 50%;
            border: 1px solid var(--color-brown1);
            color: var(--color-brown1);
            -webkit-margin-end: 15px;
            margin-inline-end: 15px;
            -ms-flex-negative: 0;
            flex-shrink: 0; }
            .tc-apartments-style5 .apartments-accordion .accordion .accordion-item .accordion-body .info .btns .pdf-btn:hover {
              background-color: var(--color-brown1);
              color: #fff; }
            .tc-apartments-style5 .apartments-accordion .accordion .accordion-item .accordion-body .info .btns .pdf-btn i {
              display: block; }

.custom-tooltip {
  padding-top: 20px; }
  .custom-tooltip .tooltip-arrow {
    top: 14px !important; }
    .custom-tooltip .tooltip-arrow::before {
      border-bottom-color: #373E43; }
  .custom-tooltip .tooltip-inner {
    background-color: #373E43;
    border-radius: 0;
    padding: 10px 15px;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase; }

@media screen and (max-width: 991px) {
  .tc-apartments-style5 {
    padding: 100px 0; }
    .tc-apartments-style5 .apartments-accordion .accordion .accordion-item .accordion-button .room-numb {
      margin-bottom: 30px; }
    .tc-apartments-style5 .apartments-accordion .accordion .accordion-item .accordion-button .room-img {
      margin-bottom: 30px; }
    .tc-apartments-style5 .apartments-accordion .accordion .accordion-item .accordion-button .room-info {
      margin-bottom: 30px; }
    .tc-apartments-style5 .apartments-accordion .accordion .accordion-item .accordion-button .feat-icons {
      margin-bottom: 30px; }
    .tc-apartments-style5 .apartments-accordion .accordion .accordion-item .accordion-body {
      padding: 30px; }
      .tc-apartments-style5 .apartments-accordion .accordion .accordion-item .accordion-body .main-img {
        padding: 30px; }
      .tc-apartments-style5 .apartments-accordion .accordion .accordion-item .accordion-body .info {
        border: 0; }
        .tc-apartments-style5 .apartments-accordion .accordion .accordion-item .accordion-body .info .btns {
          margin-top: 30px; }
    .tc-apartments-style5 .apartments-accordion .accordion .accordion-item .accordion-body .main-img .text-items p:nth-of-type(1) {
      top: -20px; }
    .tc-apartments-style5 .apartments-accordion .accordion .accordion-item .accordion-body .main-img .text-items p:nth-of-type(2) {
      right: -40px;
      -webkit-transform: translateY(-50%) rotate(-90deg);
      -ms-transform: translateY(-50%) rotate(-90deg);
      transform: translateY(-50%) rotate(-90deg); }
    .tc-apartments-style5 .apartments-accordion .accordion .accordion-item .accordion-body .main-img .text-items p:nth-of-type(3) {
      bottom: -20px; }
    .tc-apartments-style5 .apartments-accordion .accordion .accordion-item .accordion-body .main-img .text-items p:nth-of-type(4) {
      left: -70px; } }
